TVs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TVs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TV" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Brand" type="xs:string"/>
                            <xs:element name="Size" type="xs:string"/>
                            <xs:element name="SerialNumber" type="xs:string"/>
                            <xs:element name="YearOfModel" type="xs:integer"/>
                            <xs:element name="Color" type="xs:string"/>
                            <xs:element name="Price" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>